body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('./img/poco.jpg'); /* Укажите имя вашего изображения */
    background-size: cover; /* Масштабирование изображение, чтобы заполнить весь фон */
    background-position: center; /* Центрирование изображения */
}

.container {
    text-align: center;
}

.nickname {
    margin-bottom: 20px;
    font-size: 2.5em; /* Размер шрифта */
}

.buttons {
    margin-top: 20px; /* Дополнительный отступ сверху для кнопок */
}

.button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #6A5ACD; /* Цвет кнопок */
    color: white;
    text-decoration: none; /* Убираем подчеркивание */
    transition: background-color 0.3s, transform 0.2s; /* Добавлено свойство для анимации при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #483D8B; /* Цвет кнопок при наведении */
}

.button:active {
    transform: scale(0.95); /* Уменьшение размера кнопки при нажатии */
}

.profile-pic {
    margin-top: 20px;
}

.profile-pic img {
    width: 300px; /* Ширина изображения */
    height: 300px; /* Высота изображения */
    border-radius: 50%; /* Круглая форма */
    object-fit: cover; /* Обрезка изображения */
}